/* VARIABLES */

$black-1: #000000;
$grey-1: #252525;
$grey-2: #a3a3a3;

$white : #ffffff;
$white-2: #f3f3f3;
$bg-color:#0e4166;


/* TYPOGRAPHY */

$h1-desktop: 3.5rem; 
$h1-tablet: 3rem;
$h1-smartphone: 1.8rem;


